@use './partials/mixins.scss' as m;
@use './partials/variables.scss' as v;
@use './partials/queries';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:v.$main-cream;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-family: "Kode Mono", monospace;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.4rem;
    width: 100vw;
}

header > p {
    display: none;
    color: white;
    font-weight: 800;
    justify-self: center;
    align-self: center;
    font-size: 1.4vw;
    padding: 0.1rem;

    @include queries.desktop {
        display: flex;
    }
    @include queries.large-desktop {
        display: flex;
    }
}


h1 {
    display: flex;
    padding: 2rem; 
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 2.25vw;
}


.type-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.type-container > p {
    font-weight: 800;
    color:v.$font-white;
}

.translator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @include queries.desktop {
        flex-direction: row;
    }
    @include queries.large-desktop {
        flex-direction: row;
    }
}

.text-to-morse {
    background-color: v.$main-rose; 
    padding: 2rem; 
    margin: 2rem;
    width: 85vw;
    @include m.default-border;
    @include queries.desktop {
        height: 80%;
        width: 40vw;
        
    }
    @include queries.large-desktop {
        width: 40vw;
        height: 80%;
    }
}

.morse-to-text {
    background-color: v.$main-purple;
    padding: 2rem;
    margin: 2rem;
    width: 85vw;
    @include m.default-border;
    @include queries.desktop {
        width: 40vw;
        height: 80%;
    }
    @include queries.large-desktop {
        width: 40vw;
        height: 100%;
    }
}

.translated-title {
    margin: 1rem;
    font-weight: 800;
    color:v.$font-white;
}

textarea {
    @include m.default-border;
    outline-color: v.$main-blue;
    font-size: 1rem;
    padding: 0.8rem;
}

.morse-translated-box, .text-translated-box {
    height: 20vh;
    background-color: white;
    padding: 0.8rem;
    @include m.default-border;
    text-wrap: wrap;
    overflow: scroll;
    // hide scollbars for firefox and IE10
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

// hide scrollbars fo safari and chrome
.morse-translated-box::-webkit-scrollbar, .text-translated-box:-webkit-scrollbar {
    display: none;
}


button {
  width: 8rem;
  align-self: center;
  background-color: v.$main-blue;
  padding: 1rem;
  font-family: "Kode Mono", monospace;
  border-radius: 4px;
  border-color: white;
}

button:hover {
    box-shadow: 2px solid black;
    filter: drop-shadow(0 0 0.2rem rgba(229, 229, 230, 0.8));
}


.text-error-container, .morse-error-container {
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 0.5rem;
    height: 10vh;
}

footer {
    display: flex;
    color: white;
    font-size: 1.9vw;
    width: 100vw;
    justify-content: center;
    padding: 1rem 0;
}