// colours

$main-cream: rgb(224, 207, 180);

$main-purple:rgb(157, 194, 191, 0.8);

$main-blue:rgb(163, 185, 201);

$main-rose: rgb(212, 132, 129);

$main-brown:rgb(119, 109, 90);

$font-white: rgb(255, 255, 255); 

$main-green: rgb(152, 192, 187, 0.8);

$main-light-green: rgb(188, 206, 193, 0.9);

$main-pink: rgb(227, 203, 197);
