// colours

$main-cream: rgb(224, 207, 180);

$main-purple:rgb(160, 156, 176, 0.8);

$main-blue:rgb(163, 185, 201);

$main-rose: rgba(187, 137, 135, 0.8);

$main-brown:rgb(119, 109, 90);

$font-white: rgb(255, 255, 255); 